<html>
  <head>
    <style>
      body {
        background-color: rgb(0, 179, 92);
      }
      h1 {
        font-size: 32px;
	    font-weight: bold;
		text-align: center;
        color: rgb(0, 0, 0);
      }
      img {
        display: block;
        margin: auto;
        width: 50%;
      }
      ul {
        display: block;
        margin: auto;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <h1>WELCOME TO GAN SHMUEL'S JUICE PRODUCTION'S BILLING CLASS</h1>
    <div>
      <img src="https://thumbs.dreamstime.com/b/organic-green-juice-leafy-green-vegetables-glass-jar-fresh-green-juice-silver-drinking-straw-113932522.jpg" alt="Juice Image">
    </div>
        <ul>
            <p>Our team members:</p>
            <li>Roei Keisar</li>
            <li>Noam Journo</li>
            <li>Or Gabay</li>
        </ul>
  </body>
</html>